*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


header{
    width: 90%;
    height: 200px;
    background-color:rgb(255,255,255);
    margin: 0 auto;
    text-align: center;
    color: rgb(111,93,68);
}
header h1{
    padding: 50px;
    font-size: 100px;
}

.main-nav{
    width: 90%;
    height: 50px;
    background-color: rgb(229,187,137);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main-nav a{
    text-decoration: none;
    color: rgb(111,93,68);
    padding: 13px 20px;
    font-family:"Macondo";
    
}
.back-blog{
    height: fit-content;
    width: 90%;
    background-color:beige;
    margin: auto;
    padding: 10px;

}

.main-nav a:hover{
    background-color:  rgb(111,93,68);
    color:  rgb(229,187,137);
    border-radius: 40px;
}


.texto{
    width: 90%;
    height:fit-content;
    padding: 15px;
    margin: auto;
    margin-bottom: 30px;
    background-color: rgb(243, 231, 210);
    border-radius: 40px;
}
.texto ul li{
    padding-left: 20px;
    list-style: none;
}

.texto h2{
    margin: 15px 0;
    font-family:"Kanit", sans-serif;
    font-size: 28px;
    font-family: "Macondo";
    color: rgb(117,151,178);
}
.texto h3{
    margin: 15px 0;
    font-family:"Kanit", sans-serif;
    font-size: 28px;
    font-family: "Macondo";
    color: rgb(117,151,178);
}
.tabla{
    width:98%;
    border-collapse:collapse;
    margin:16px 0 16px 0;
}
.tabla th{
    border:1px solid #ddd;
    padding:4px;
    background-color:#a2afb5;
    text-align:left;
    font-size:0.9em;
}
.tabla td{
    border:1px solid #ddd;
    text-align:left;
    padding:6px;
    font-size:0.9em;
}

section ul li{
    list-style: none;
    padding: 20px;
}
footer{
    width: 90%;
    height: 400px;
    background-color:rgb(111,93,68);
    margin: 0 auto;
}

footer section{
    width: 27%;
    height: 350px;
    background-color: rgb(166,133,107);
    float: left;
    margin-left: 33%;
    margin-top: 25px;
    padding: 20px;
    color: cornsilk;
    
}
footer a{
    text-decoration: none;
    color: cornsilk;
}
